<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>ScanWeb</title>
    <link rel="stylesheet" href="jquery.mobile-1.1.0.min.css">
    <script src="jquery-1.7.2.min.js"></script>
    <script src="jquery.mobile-1.1.0.min.js"></script>
  </head>
  <body>
    <div data-role="page" id="index">
      <div data-role="header">
      <h1>ScanWeb</h1><a href="./" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
      </div>
   
     <div data-role="content">
       <div>
         <%= h @message %>
        </div>
   
       <% if @success %>
         <h3>プレビュー</h3>
         <div class="thumbnails">
           <% (1..@thumb_count).each do |num| %>
               <img src="<%= %Q(./image/#{@basename}/#{num}) %>"  alt="Page <%= num %>" width="200" />
           <% end %>
         </div>
       <% end %>
   
       <h3>ログ</h3>
       <pre><code><%= h @log_text %></code></pre>
      
       <a href="./" data-role="button" data-inline="true">戻る</a>
      </div>
   </div>
   
  </body>
</html>

  
